.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin-top: 30px;
}

.li {
  width: calc((100% - 60px) / 4);
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 991px) {
  .li {
    width: calc((100% - 40px) / 3);
  }
}

@media (max-width: 768px) {
  .li {
    width: calc((100% - 20px) / 2);
  }
}

@media (max-width: 475px) {
  .li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
