.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.loader {
  /* position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
