.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  z-index: 90;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 91;
}

.closeButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 92;
}

.descrDiv {
  background-color: #010101a2;
  width: 100%;
  padding: 10px;
  position: absolute;
  display: flex;
  bottom: 0;
}

.descr {
  position: relative;
  color: white;
  font-style: italic;
}

.descr::after {
  background-color: #fff;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
}
